body {
  background: #0f1115;
  color: #e5e7eb;
  font-family: Inter, Arial, sans-serif;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

.card {
  background: #1a1d23;
  margin: auto;
  padding: 20px;
  border-radius: 12px;
  justify-items: center;
  white-space-collapse: preserve-breaks;
}

input {
  width: 90%;
  margin-top: 10px;
  padding: 10px;
  background: #0f1115;
  color: #fff;
  border: 1px solid #333;
  border-radius: 6px;
}

label {
  width: 90%;
  margin-top: 10px;
  color: #fff;
}

button {
  width: 50%;
  padding: 10px;
  margin-left: 25%;
  margin-top: 10px;
  justify-content: center;
  color: #fff;
  border: 1px solid #333;
  border-radius: 6px;
  cursor: pointer;
  background: #2563eb;
}


table {
  width: 80%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border-bottom: 1px solid #333;
  padding: 8px;
  text-align: left;
}
